/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* landing */
.sec_pad_landing{
    padding:10rem 0rem;
}
.btn-outline{
    border: 1.5px solid #707070!important;
    background-color: transparent!important;
    color: #000000!important;
    border-radius:40px!important;
    padding: .5rem 2.3rem!important;
}
.landing_box_highlight{
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding: 2.5rem 3rem;
    margin: 3rem 6rem 4rem!important;
    border-radius: 10px;
}
.landing_box_highlight_bottom{
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    margin: 3rem 6rem 4rem!important;
    border-radius: 10px;
}
.issuance_box_1 {
    padding:2.5rem 2.5rem;
}
.issuance_box_2 {
    padding:2.5rem 3rem;
}
.landing_box_heading{
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing:.5px;
    color: rgba(112, 112, 112, 0.8);;
    font-weight: 600;
}
.landing_box_text{
    padding: 2.7rem 0 1.5rem;
    font-family: 'Open Sans', sans-serif; 
    color: #000000;    
}
.landing_box_text_exp1{
    padding: 1.7rem 0 1.2rem;
    font-family: 'Open Sans', sans-serif; 
    color: #000000;    
}
.landing_box_text_exp2{
    padding: 2.7rem 0 1.8rem;
    font-family: 'Open Sans', sans-serif; 
    color: #000000;    
}
.apply_academic {
    box-shadow: none !important;
}
.landing_imp{
    font-family: 'Open Sans', sans-serif; 
    margin: 3rem 5rem 0;
}
.landing_imp_heading{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.3rem;
}
.landing_imp_text{
    padding-top: 1rem;
    text-align: justify;
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;

}
.box-height{
    height: 30.6rem!important;
}
/* landing */




/* media queries */
@media only screen and (max-width:1024px) {
    .landing_box_highlight{
        padding: 2.5rem 3.3rem;
        margin: 3rem 2rem 4rem!important;
    }
    .landing_imp{
        margin: 3rem 4.5rem 0;
    }
    .landing_box_highlight_bottom {
        margin: 3rem 2rem 4rem!important;
    }
    .issuance_box_1 {
        padding:2rem 2.5rem;
    }
    .box-height{
        height: 33rem!important;
    }
}
@media only screen and (max-width:768px) {
    .landing_box_highlight {
        padding: 1rem 1.5rem;
        margin: 3rem 0rem 4rem!important;
    }
    .academic_cardsrow{
        padding: 0 15px!important;
    }
    .issuance_box_2 {
        padding: 1rem 1.5rem 2.5rem;
    }
    .landing_box_highlight_bottom {
        margin: 3rem 0rem 4rem!important;
    }
    .issuance_box_1 {
        padding: 1rem 1.5rem;
    }
    .landing_imp {
        margin: 3rem 2.5rem 0;
    }
    .box-height{
        height: 32.3rem!important;
    }
}
@media only screen and (max-width:455px) {
    .landing_box_highlight{
        padding: 2.5rem 2.1rem 1.7rem;
        margin: 3rem 1.5rem 4rem!important;
    }
    .landing_imp{
        margin: 3rem 0rem 0;
        padding:0 1.4rem;
    }
    .issuance_head {
        font-size:1.8rem;
        padding:0 1rem;
    }
    .academic_img {
        width:4rem;
    }
    .landing_box_highlight_bottom {
        margin: 3rem 1.5rem 4rem!important;
    }
    .issuance_box_2 {
        padding:2.5rem 3rem;
    }
    .box-height{
        height: auto!important;
    }
}
@media only screen and (max-width:428px) {
    .landing_box_highlight{
        padding: 1.7rem 1.7rem;
        margin: 3rem .9rem 4rem!important;
    }
    .landing_imp{
        margin: 3rem 1.9rem 0;
    }
    .landing_box_text{
        padding: 2.1rem 0 .5rem;
    }
    .landing_box_highlight_bottom {
        padding: 1.7rem 1.7rem;
        margin: 3rem .9rem 4rem!important;
    }
}
@media only screen and (max-width:375px) {
    .landing_box_highlight{
        padding: .5rem 3rem;
        margin: 3rem .7rem 4rem!important;
    }
    .landing_box_text{
        padding: .5rem 0 .3rem;
    }
    .landing_imp{
        margin: 3rem 1.7rem 0;
    }
    .landing_box_text_exp1{
        padding: .5rem 0 .3rem;
    }
    .landing_box_text_exp2{
        padding: .5rem 0 .3rem;
    }
}
@media only screen and (max-width:320px) {
    .landing_box_highlight{
        padding: .5rem 1.5rem .3rem;
        margin: 3rem .5rem 4rem!important;
    }
    .landing_box_text{
        padding: .1rem 0 .1rem;
    }
    .landing_imp{
        margin: 3rem 1.5rem 0;
    }
    .btn-outline{
        border-radius:40px!important;
        padding: .3rem 1.9rem!important;
    }
    .issuance_head {
        font-size:1.4rem;
    }
    .academic_img {
        width:3rem;
    }
    .landing_box_highlight_bottom{
        padding: .5rem 1.5rem .3rem;
        margin: 3rem .5rem 4rem!important;
    }
    .landing_box_text_exp1{
        padding: .1rem 0 .1rem;
    }
    .landing_box_text_exp2{
        padding: .1rem 0 .1rem;
    }
}
/* media queries */


/* footer */
.list-unstyled{
    color: black
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color: #2e2e2e !important;
     text-decoration: underline !important
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */