/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_pad_start{
    padding: 8rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(34%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-34%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
}
.c-padding {
    padding:1rem 1rem;
}
/* carousel */

/* landing */
.sec_pad_landing{
    padding:10rem 0rem 4rem;
}
.landing_text{
    font-size: 1rem;
    padding:0;
    margin:0 0 0.5rem 0!important;
    font-family: 'Open Sans', sans-serif;
   
}
.med-land {
    display:none;
}
/* landing */

/* overview */
.card_2{
    color:black !important;
    font-family: 'Open Sans', sans-serif;
}

.img_2{
    height : 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
}
.card_2_1{
    box-shadow: none !important;
    padding : 0rem 2rem;
}
.box {
    background-color: #FFFFFF !important;
    border: 2px solid #FCCB67;
    border-radius: 8px;
}
.overview_part_head {
    color:#1D194F;
    font-weight:800;
}
/* overview */

/* Labs */
.labs_medium {
    display:none;
}
.labs_name {
    background-color: #5E5E5E;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
}
.large_course {
    height:400px;
}
.eventcards_container{
    padding: 0 5rem!important;
}
.eventcards {
    margin-right:.5rem;
    border-radius: 15px !important;
}
/* Labs */

/* research_highlight */
.research_box{
    padding: 0 6.8rem!important;
}
.research_box_highlight{
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding: 2.5rem 1.3rem;
    margin: 3rem 0 4rem!important;
    border-radius: 5px;
}
.research_box_heading{
    color:#E3A669;
    padding:1.3rem 0;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 1.3rem;
}
.research_no{
    font-size:2.8rem;
    margin-top: -.7rem;
    padding:0 0 0 .7rem!important;
    font-weight: 500;
}
.research_text{
    padding: 0 0 0 .5rem!important;
    text-align:left;
}
.research_box_1{
    padding: 0 4.5rem!important;
}
/* research_highlight */

/* hod */
.container_hod {
    padding:0rem 6rem;
}
/* hod */

/* placement */
.placement_company {
    padding:1rem 1.2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(170,170,169,.329), 0 2px 10px 0 rgba(170,170,169,.329);
    width:fit-content;
}
/* placement */

/* student achievement */
.students_name_col {
    padding:0rem !important;
}
.students_year_col {
    padding:0rem 15px 0rem 0rem !important;
}
.stories_info {
    margin-left:1rem;
}
/* student achievement */

/* faculty */
.large_faculty {
    height:560px;
}
.faculty_medium {
    display:none;
}
/* faculty */

/* all-faculty */
.col-margin{
    margin: 0 1rem;
}
.col-margin:hover{
    box-shadow: 0px 8px 40px -4px rgba(0,0,0,0.1);
}
.fac-img{
   border-radius:1rem !important;
   padding:1rem 0rem;
   width: 45%;
  
}
.fac-name{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    
}
.fac-post{
    color:#818080;
 
}
.link{
    color:#1D194F!important;
    font-size: .75rem;
    font-weight: 700;
    padding: .3rem 0;
    
}
/* all-faculty */


/* media queries */
@media only screen and (max-width:1351px) {
    /* faculty */
    .large_faculty {
        height:520px;
    }
    /* faculty */
}
@media only screen and (max-width:1024px) {
    /* all-faculty */
.col-margin{
    margin: 0rem;
}
    /* overview */
    .card_2_1 {
        padding:0rem;
    }
    /* overview */
    
    /* placement insight */
    .placement_pie img {
        width:25rem;
    }
    /* placement insight */

    /* hod */
    .hod_desc {
        font-size:12px;
    }
    /* hod */

    /* labs */
    .large_course {
        height:320px;
    }
    .eventcards_container{
        padding: 0 1rem!important;
    }
    /* labs */

    /* faculty */
    .large_faculty {
        height:520px;
    }
    /* faculty */

    /* research highlight */
    .research_box_1 {
        padding:0rem 2rem !important;
    }
    /* research highlight */
}
@media only screen and (max-width:768px) {
       /* all-faculty */
.col-margin{
    margin: 1rem 12rem;
}
    /* landing */
    .med-land {
        display:block;
    }
    .large-land {
        display:none;
    }
    /* landing */

    /* overview */
    .card_2_1 {
        padding:0rem 2rem;
    }
    /* overview */

    /* placement insight */
    .placement_pie img {
        margin: 1rem 0rem 0rem 9rem;
    }
    /* placement insight */

    /* student achievement */
    .achievement_all {
        padding:0rem 5rem !important;
    }
    .event_card {
        margin-top:1rem;
    }
    /* student achievement */

    /* hod */
    .hod_desc {
        font-size:16px;
    }
    /* hod */

    /* labs */
    .labs_large {
        display:none;
    }
    .labs_medium {
        display:block;
    }
    .labs_card {
        width:23rem !important;
        margin-left:10rem;
    }
    /* labs */

    /* faculty */
    .faculty_large {
        display:none;
    }
    .faculty_medium {
        display:block;
    }
    .faculty_card {
        width:24rem !important;
        margin-left:10rem;
    }
    /* faculty */

    /* research highlight */
    .research_box_1 {
        padding:0rem 11rem !important;
    }
    .research_box {
        padding:0rem 9rem !important;
    }
    /* research highlight */
}
@media only screen and (max-width:460px) {
           /* all-faculty */
.col-margin{
    margin: 1rem 5rem;
}
    /* landing */
    .landing_text {
        padding: 0;
    }
    /* landing */
    
    
    /* overview */
    .card_2_1 {
        padding:0rem 3rem!important;
    }
    /* overview */

    /* eligiblity */
    .eligible_img {
        /* width:7rem; */
        width: 28%;
    }
    .eligible_col {
        margin:1.2rem 0 1rem;
    }
    .eligible_text {
        text-align: justify;
    }
    /* eligiblity */

    /* placement insight */
    .placement_pie img {
        margin: 1rem 0rem 0rem 1rem;
    }
    .placement_col_img {
        margin-top:1.5rem
    }
    .placement_col_img2 {
        margin-top:-1.5rem;
    }
    .placement_company {
        margin-bottom:1rem;
    }
    /* placement insight */

    /* student achievement */
    .stories_info {
        text-align:center;
    }
    .achievement_all {
        padding:0rem 1rem !important;
    }
    /* student achievement */

    /* hod */
    .hod_desc {
        font-size:12px;
        text-align: justify;
    }
    /* hod */

    /* labs */
    .labs_card {
        margin-left:2rem;
    }
    /* labs */

    /* faculty */
    .faculty_card {
        width: 100%!important;
        margin-left:0!important;
    }
    /* faculty */

    /* research highlight */
    .research_box_1 {
        padding:0rem 2rem !important;
    }
    .research_box {
        padding:0rem 2rem !important;
    }
    /* research highlight */
    .sec_heading{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:430px) {
  
    /* landing */
    .landing_text p {
        font-size:16px;
    }
    .landing_placement {
        font-size:20px;
    }
    .landing_placement_info {
        font-size:14px;
    }
    /* landing */
    /* overview */
    .card_2_1 {
        padding:0rem 2rem;
    }
    /* overview */

    /* placements */
    .placement_pie img {
        margin: 1rem 0rem 0rem 0rem;
    }
    /* placements */

    /* labs */
    .labs_card {
        margin-left:-.7rem;
    }
    /* labs */
}
@media only screen and (max-width:376px) {
               /* all-faculty */
.col-margin{
    margin: 1rem 3.5rem;
}
    /* overview */
    .card_2_1 {
        padding:0rem 1rem;
    }
    /* overview */

    /* placement insight */
    .placement_pie img {
        margin:1rem 0rem 0rem 1.6rem;
        width:18rem;
    }
    /* placement insight */

    /* student achievement */
    .achievement_all {
        padding:0rem 1rem !important;
    }
    /* student achievement */

    /* hod */
    .container_hod {
        padding:0rem 2rem;
    }
    /* hod */

    /* faculty */
    /* .faculty_card {
        width:20rem !important;
        margin-left:1rem;
    } */
    .faculty_medium_carousel {
        height:480px !important;
    }
    /* faculty */

    /* research highlight */
    .research_box_1 {
        padding:0rem 1rem !important;
    }
    .research_box {
        padding:0rem 1rem !important;
    }
    /* research highlight */
}
@media only screen and (max-width:320px) {
    .col-margin{
        margin: 1rem 2rem;
    }
    /* overview */
    .card_2_1 {
        padding:0rem;
    }
    /* overview */

    /* placement */
    .placement_pie img {
        margin:1rem 0 0 0;
    }
    /* placement */

    /* eligiblity */
    .eligible_row {
        padding:0rem 1rem !important;
    }
    /* eligiblity */

    /* labs */
    .labs_card {
        width:18rem !important;
        margin-left:0rem;
    }
    .labs_medium_carousel {
        height:350px !important;
    }
    /* labs */

    /* student achievement */
    /* .achievement_all {
        padding:0rem .8rem !important;
    } */
    /* student achievement */

    /* faculty */
    /* .faculty_card {
        width:18rem !important;
        margin-left:0rem;
    } */
    .faculty_medium_carousel {
        height:440px !important;
    }
    /* faculty */

    /* research highlight */
    .research_box_1 {
        padding:0rem .5rem !important;
    }
    .research_box {
        padding:0rem .5rem !important;
    }
    .research_box_highlight {
        padding:2.5rem .5rem;
    }
    /* research highlight */
}
/* media queries */

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */