/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.shadow {
    box-shadow : 0px 8px 20px -4px rgba( 0,0,0,0.1);
    }
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */

/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* landing */
.sec-pad-large {
    padding:12rem 2rem 2rem 2rem;
}
.homeland-pad {
    padding:3rem 5rem 0 5rem!important;
}
/* .land-img {
    padding:0 5rem 8rem!important;
} */
.text-small {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-size:1.2rem;
    font-weight: 800;
}
.text-main {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-size:2.8rem;
    font-weight: 800;
}
.content {
    font-family: 'Open Sans', sans-serif;
    color:#1D194F;
}
/* landing */

/* application form */
/* same as in academic : text-color:change */
.sec_pad_landing{
    padding:10rem 0rem 2rem;
}
.landing_box_heading{
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing:.5px;
    color: #355C7D;
    font-weight: 600;
}
.landing_box_text{
    padding: 2.7rem 0 .7rem;
    font-family: 'Open Sans', sans-serif; 
    color: #355C7D;    
}
/* same as in academic : text-color:change */

.landing_box_highlight_download{
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding: 2.5rem 3rem;
    margin: 3rem 6rem 6rem!important;
    border-radius: 10px;
}
.download_select_box {
    width:7.5rem !important;
    box-shadow:3px 3px 12px -2px rgba(0,0,0,.1);
    border:0px solid black !important;
    border-radius: 7px;
    padding:.5rem 1rem;
    margin-left:1rem;
    color:#1D194F;
    background-color: #fff;
         
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, #FCCB67 50%),
    linear-gradient(135deg, #FCCB67 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position:
    calc(100% - 25px) calc(1em + 2px),
    calc(100% - 18.7px) calc(1em + 2px),
    100% 0;
  background-size:
    6px 6px,
    6px 6px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
.download_select_box:focus {
    outline:none;
}
.download_button {
    border:0;
    background-color:transparent;
    color:#1D194F;
}
.download_button:focus {
    outline:none;
}
.box-height {
    height:472.65px;
}
.sem{
    margin-left:5rem;
}
.sem li{
    display: inline-block;
    color: #1D194F;
    position: relative;
    margin-left:2rem ;
}

/* .sem li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  .sem li label{
    display: block;
    position: relative;
    margin-left: 3rem;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
 
/* .sem li .check{
  display: block;
  position: absolute;
  border: 1px solid #AAAAAA;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
  left: 1.7rem;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
input[type=radio]:checked ~ .check::before{
  background: #FCCB67;
} */ 

.midrow_list_padding{
    padding: .7rem 0!important;
}

/* application form */

/* quick links */
.quick_sec_pad {
    padding-bottom:4rem;
}
.quick_link_card {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    margin: 3rem 2rem 4rem!important;
    border-radius: 10px;
    padding:1rem .3rem;
}

.quick_link_desc {
    padding:2rem 0 ;
}
.link_desc {
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    font-size:22px;
    color:#1D194F;
}
/* quick links */


/* media queries */
@media only screen and (max-width:1350px) {
    .link_desc {
        font-size:20px;
    }
}
@media only screen and (max-width:1440px) {
    /* application form */
    .sem{
        margin-left:3.8rem;
    }
    /* application form */
}
@media only screen and (max-width:1024px) {
    /* landing */
    .homeland-pad {
        padding:1rem 4.2rem !important;
    }
    /* landing */

    /* application form */
    .landing_box_highlight_download{
        padding: 2.5rem 3.3rem;
        margin: 3rem .9rem 4rem!important;
    }
    .quick_link_card{
        padding: 2rem .3rem;
    }
    .quick_link_card_height{
        height: 194px;
    }
    .sem{
        margin-left:2.2rem;
    }
    /* application form */
}

@media only screen and (max-width:768px) {
    /* landing */
    .homeland-pad {
        padding:2rem 15px !important;
    }
    .text-small {
        margin-top:.8rem;
    }
    /* landing */

    .landing_box_highlight_download {
        padding: 1rem 1.5rem;
        margin: 3rem 0rem 4rem!important;
    }
    .download_cards{
        padding: 0 1rem!important;
    }
    .box-height {
        height: 28.2rem!important;
    }
    .sem {
        margin-left: .5rem;
    }
    .download_select_box {
        margin: .5rem 0 0!important;
    }
    .quick_link_card{
        padding: 1rem 3rem;
        margin: 3rem 7rem 4rem!important;
    }
    .quick_link_card_height{
        height: auto;
    }
}

@media only screen and (max-width:455px) {
    /* landing */
    .sec-pad-large {
        padding:8rem 2rem 0rem 2rem;
    }
    .text-main {
        font-size:2.2rem;
    }
    /* landing */

    /* application form */
    .landing_box_highlight_download{
        padding: 2.5rem 2.1rem .7rem;
        margin: 3rem 1.5rem 4rem!important;
    }
    .academic_img {
        width:4rem;
    }
    .box-height {
        height: auto!important;
    }
    .mtech_text_sm{
        padding-bottom: 1rem;
    }
    .btn-margin-sm{
        margin-top: 1rem;
    }
    .download_button{
        padding-bottom: 1rem;
        padding-top: .1rem!important;
    }
    .quick_link_card{
        padding: 1rem .3rem;
        margin: 3rem 1rem 4rem!important;
    }
    .quick_link_card_height{
        height: auto;
    }
    .sem{
        margin-left:1rem;
    }
    .download_select_box{
        margin:.5rem 0 0!important;
    }
    .landing_box_text{
        padding: 1.5rem 0 .7rem!important;
    }
    .download_cards{
        padding: 0rem!important;
    }
    
    /* application form */
}

@media only screen and (max-width:430px) {
    /* application form */
    .landing_box_highlight_download{
        padding: 1rem 1.7rem 0;
        margin: 3rem .9rem 4rem!important;
    }
    .landing_box_text{
        padding: 2.1rem 0 .5rem;
    }
    .sem{
        margin-left:1rem;
    }
   
    /* application form */
}

@media only screen and (max-width:375px) {
    /* application form */
    .landing_box_highlight_download{
        padding: .5rem 3rem 0;
        margin: 3rem .7rem 4rem!important;
    }
    .landing_box_text{
        padding: .5rem 0 .3rem;
    }
    .sem{
        margin-left:-1.6rem;
    }
    /* application form */
}

@media only screen and (max-width:320px) {
    /* application form */
    .landing_box_highlight_download{
        padding: .5rem 1.5rem 0rem;
        margin: 3rem .5rem 4rem!important;
    }
    .landing_box_text{
        padding: .1rem 0 .1rem;
    }
    .sem{
        margin-left:-1.7rem;
    }
    /* application form */
}
/* media queries */

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */