/* Common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}
/* Common */

/* First sec */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.contain-students {
    padding:0rem 2rem;
}
.quality-students {
    margin-top:15rem;
    padding:0rem 6rem;
}
.clg_name {
    font-family: 'Raleway', sans-serif;
    margin:0px;
    color:#1D194F;
}
.students {
    margin-top:3rem !important;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */
@media only screen and (max-width:1240px) {
    .quality-students {
        margin-top:10rem;
    }
}
@media only screen and (max-width:990px) {
    .quality-students {
        margin-top:8rem;
    }
}
/* First sec */

/* Common */
.heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}

.carousel-indicators .active{
    background-color: #000000;
}
.carousel-indicators {
    background-color: rgba(144,144,144,0.00);
}
/* Common */

/* News */
.news-section {
    padding:3rem 0rem;
}
.contain-news-desc {
    padding:0rem 6rem;
}
.news-card {
    margin:2rem 0;
    overflow:hidden;
}
.active-news {
    background-color:#FAFAFA;
}
.news-body {
    padding:0px 1rem !important;
}
.news-text {
    padding:0.8rem 1rem;
}
.newsallcards {
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
}
.newsdate {
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius:0.25rem;
    border-bottom-left-radius:0.25rem;
    background-color:#1D194F;
    color:#F1F1F1;
    padding:8px 0px;
}
.date {
    font-size:1.8rem;
    font-weight:800 !important;
    margin:0px 0px 0px 0px;
}
.month {
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.eventdesc {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin:0px 0px 0px 0px;
}
.vertical-line {
    border-left:2px solid #707070;
}
.news-particular-info {
    font-weight:800 !important;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    color:#373737;
}
.news-text {
    font-family: 'Open Sans', sans-serif;
    padding:16px 16px;
    font-size:12px !important;
}
/* News */

/* About */

.card_2{
    color:black !important;
    font-family: 'Open Sans', sans-serif;
}

.img_2{
    height : 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}
.card_2_1{
    box-shadow: none !important;
    padding : 0rem 2rem;
}
.box {
    background-color: rgb(154, 167, 255 , 0.14) !important;
}
/* About */

/* Campus-Tour */
.campusimage {
    height:100vh;
    width:100%;
    background:url(../images/home/tour.jpg);
    background-size:cover;
    background-attachment:fixed;
}
.textcampustour {
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
}
.campushead {
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    font-weight:1000 !important;
    font-size:3rem;
    letter-spacing:2px;
    text-align:center;
    vertical-align:middle;
    line-height:100vh;
}
/* Campus-Tour */

/* News */
.contain-news-desc {
    padding:0rem 6rem;
}
.news-desc {
    color:#5A5A5A;
    margin-top:2rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}
.news {
    padding:0px 0px 0px 60px;
}
/* .news-particular {
    padding:0rem 4rem;
} */
.news-card {
    margin:2rem 0;
    overflow:hidden;
    /* padding:0rem 0rem 4rem 0rem; */
}
.active-news {
    background-color:#FAFAFA;
}
.news-body {
    padding:0px 1rem;
}
.news-text {
    padding:0.8rem 1rem;
}
.newsallcards {
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
}
.newsdate {
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius:0.25rem;
    border-bottom-left-radius:0.25rem;
    background-color:#1D194F;
    color:#F1F1F1;
    padding:8px 0px;
}
.container-news {
    padding : 0rem 6rem!important;
}
.date {
    font-size:1.8rem;
    font-weight:800 !important;
    margin:0px 0px 0px 0px;
}
.month {
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.eventdesc {
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.vertical-line {
    border-left:2px solid #707070;
}
.news-particular-info {
    font-weight:800 !important;
    font-family: 'Open Sans', sans-serif;
    color:#373737;
}
.news-text {
    font-family: 'Open Sans', sans-serif;
    padding:16px 16px;
    font-size:12px !important;
}
/* News */

/* What People Will Say */
.people-section {
    background-color:#FBFBFB;
    padding:5rem 0rem;
}
.container-people {
    padding:0rem 8rem;
}
.people-card {
    background-color:#0C0D1E !important;
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
.people-carousel-start {
    margin-top:2rem;
}
.people-card-body {
    padding:3rem !important;
}
.people-education {
    color:#FFDF3D;
}
.people-text {
    color:#FFFFFF !important;
    font-size:12px !important;
}
.people-img {
    height:200px;
    width:250px;
    border-radius:5px;
    margin-left:-8rem;
}
/* What People Will Say */

/* Why AKGEC */
.akg-img-first {
    background:url(../images/home/college.jpg);
    height:100vh;
    width:100%;
    background-size:cover;
    position:sticky;
    top:0;
}
.akg-text-first {
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:8rem 6rem;
}
.whyakg-head-first {
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    color:#FFFFFF;
}
.whyakg-desc-first {
    height:auto;
    font-family: 'Open Sans', sans-serif;
    margin-top:2rem;
    border-radius:2px;
    padding:1rem;
    color:#FFFFFF;
    background-color:rgba(255,255,255,0.2);
}
.whyakg-stats-first {
    border-left:3px solid #FFFFFF;
}
.whyakg-about-stats {
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
}
.whyakg-second-line {
    margin-top:4rem;
}
.akg-img-second {
    background:url(../images/home/whyakg.jpg);
    height:100vh;
    width:100%;
    background-size:cover;
    position:sticky;
    top:0;
}
.akg-text-second {
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:8rem 6rem;
}
.akg-img-third {
    background:url(../images/home/whyakg2.jpg);
    height:100vh;
    width:100%;
    background-size:cover;
    position:sticky;
    top:0;
}
.akg-text-third {
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    padding:8rem 6rem;
}
.akg-img-fourth {
    background:url(../images/home/whyakg3.jpg);
    height:100vh;
    width:100%;
    background-size:cover;
    position:sticky;
    top:0;
}
.akg-text-fourth {
    height:100vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    padding:8rem 6rem;
}
.line {
    border:2px solid #1D194F;
    width:100%;
    position:sticky;
    top:0;
}
/* Why AKGEC */

/* footer */
.list-unstyled{
    color: black
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color: #2e2e2e !important;
     text-decoration: underline !important
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */
 
 /* upcoming events */
 .event-heading{
     font-weight: 800;
     color: #1d194f;
     font-size: 2.2rem;
     letter-spacing: 1.5px;
     font-family: 'Raleway', sans-serif;
 }
 
 .event-date{
     font-weight: 800;
     font-size: 1.8rem;
     color: #5A5A5A
 }
 
 .event-month{
     font-weight: 500;
     color: #5A5A5A
 }

 .allevents_link {
     letter-spacing: 1.5px;
     font-family: 'Raleway', sans-serif;
     color:#686868;
 }

 .events_link {
    margin-top:2rem;
 }
 /* upcoming events */
 
 .underline{
     border: 2px solid #fccb67;
     width: 4rem
 }
 
 /* placements */
 .placement_container {
     padding:2rem;
 }
 .placement_number {
     color:#fccb67;
 }
 .card-body-placement {
     padding:0px !important;
 }
 .placement_yr {
     padding-right:5px !important;
 }
 .medium_placement {
     display:none;
 }
 .small_placement {
     display:none;
 }
 /* placements */
 
 /* Industry_partners */
 .partner_start {
     margin-top:2rem;
 }
 .partner-img {
     padding:2rem !important;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 /* Industry_partners */

 /* register */
 .regis_sec {
     padding:6rem 4rem;
     background-color:#0C0D1E;
 }
 .regis_heading {
     color:#ffffff;
     font-family: 'Raleway', sans-serif;
     letter-spacing: 1.5px;
     font-weight:800;
 }
 .regis_desc {
     color:#ffffff;
 }
 .regis_img-container {
     margin-top:4rem;
 }
 .regis_img {
     height:5rem;
 }
 .vertical_line {
     border-right: 2px solid #ffffff;
 }
 .regis_form {
     padding:0rem 6rem !important;
 }
 .regis_btn {
     padding:0.5rem 6rem;
     background-color: #FCCB67;
     border:0px;
 }
 /* Faculty end */

 /* blog */
 .medium_blog {
    display:none;
 }
 /* blog */

 /* faculty */
 .faculty_medium {
     display:none;
 }
 /* faculty */

 /* stories */
 .medium_story {
     display:none;
 }
/* stories */

/* featured courses */
.medium_course {
    display:none;
}
/* featured courses */
/* media queries */
@media only screen and (max-width:1024px) {
    /* about */
    .card_2_1 {
        padding:0rem .8rem;
    }
    /* about */

    /* register */
    .regis_form {
        padding:0rem 2rem !important;
    }
    /* register */

    /* news */
    .news-text {
        padding:.5rem .2rem;
    }
    .news-particular-info {
        font-size:16px;
    }
    .news-date-column {
        padding:.8rem 0rem !important;
    }
    .eventdesc {
        font-size: 14px !important;
    }
    /* news */

    /* upcoming events */
    .event_card {
        padding:2rem 10rem !important;
    }
    /* upcoming events */

    /* blog */
    .large_blog {
        height:520px !important;
    }
    /* blog */

    /* what people will say */
    .what_people_say {
        height:360px !important;
    }
    .container-people {
        padding:0rem 6rem;
    }
    /* what people will say */
}
@media only screen and (max-width:768px) {
    /* about */
    .card_2_1 {
        padding:0rem 12rem;
    }
    /* about */

    /* register */
    .regis_form {
        margin-top:3rem;
    }
    /* register */

    /* news */
    .news-particular {
        display:none;
    }
    .container-news {
        padding:0rem 15rem !important;
    }
    /* news */

    /* upcoming events */
    .event_card {
        padding:2rem 4rem !important;
    }
    /* upcoming events */

    /* what people will say */
    .what_people_say {
        height:380px !important;
    }
    .container-people {
        padding:0rem 2rem;
    }
    .people-img {
        margin-left:2rem !important;
    }
    .people-card-body {
        padding:3rem 6rem !important;
    }
    /* what people will say */

    /* faculty */
    .faculty_medium {
        display:block;
        height:550px !important;
    }
    .faculty_large {
        display:none;
    }
    .faculty-card {
        margin-left:10rem;
        width:25rem;
    }
    /* faculty */

    /* placement */
    .large_placement {
        display:none;
    }
    .medium_placement {
        display:block;
    }
    /* placement */

    /* stories */
    .large_story {
        display:none;
    }
    .medium_story {
        display:block;
    }
    .story_card {
        margin-left:11rem;
        width:25rem;
    }
    /* stories */

    /* featured courses */
    .large_course {
        display:none;
    }
    .medium_course {
        display:block;
    }
    .course_card {
        margin-left:12rem;
        width:23rem;
    }
    /* featured courses */

}
@media only screen and (max-width:455px) {
    /* first section */
    .students {
        margin-top:1rem !important;
    }
    /* first section */

    /* about */
    .card_2_1 {
        padding:0rem 3rem;
    }
    /* about */

    /* register */
    .regis_form {
        padding:0rem 0rem !important;
    }
    .vertical_line {
        border-right: 0px solid;
    }
    .regis_img {
        margin-top:2rem;
    }
    /* register */

    /* news */
    .container-news {
        padding:0rem 6rem !important;
    }
    /* news */

    /* blog */
    .large_blog {
        display:none;
    }
    .medium_blog {
        display:block;
        height:500px !important;
    }
    /* blog */

    /* what people will say */
    .people-img {
        margin-top:2rem;
        margin-left:4rem !important;
    }
    .what_people_say {
        height:640px !important;
    }
    .people-card-body {
        padding: 3rem 3rem !important;
    }
    /* what people will say */

    /* faculty */
    .faculty-card {
        margin-left:2rem;
        width:20rem;
    }
    .faculty_medium {
        height:500px !important;
    }
    /* faculty */

    /* placement */
    .medium_placement {
        display:none;
    }
    .small_placement {
        display:block;
    }
    /* placement */

    /* stories */
    .story_card {
        width:20rem;
        margin-left:3rem;
    }
    /* stories */

    /* featured courses */
    .course_card {
        width:20rem;
        margin-left:4rem;
    }
    /* featured courses */
}
@media only screen and (max-width:425px) {
    /* about */
    .card_2_1 {
        padding:0rem 1rem;
    }
    /* about */

    /* featured courses */
    .course_card {
        margin-left:3rem;
    }
    /* featured courses */
}
@media only screen and (max-width:375px) {
    /* first section */
    .contain-students {
        padding:0rem 1rem;
    }
    /* first section */

    /* regiister */
    .regis_sec {
        padding:6rem 2rem;
    }
    /* regiister */

     /* news */
     .container-news {
        padding:0rem 4rem !important;
    }
    /* news */
    
    /* upcoming events */
    .event_card {
        padding:2rem 2rem !important;
    }
    /* upcoming events */

    /* blog */
    .medium_blog {
        height:450px !important;
    }
    /* blog */

    /* what people will say */
    .people-img {
        margin-left:2rem !important;
    }
    .what_people_say {
        height:700px !important;
    }
    /* what people will say */

    /* faculty */
    .faculty-card {
        margin-left:.5rem;
        width:20rem;
    }
    /* faculty */

    /* stories */
    .story_card {
        margin-left:1rem;
    }
    /* stories */

    /* featured courses */
    .course_card {
        margin-left:1rem;
    }
    /* featured courses */
}
@media only screen and (max-width:320px) {
    /* about */
    .card_2_1 {
        padding:0rem 0rem;
    }
    /* about */

     /* news */
     .container-news {
        padding:0rem 2rem !important;
    }
    /* news */

    /* what people will say */
    .people-img {
        margin-top:3.5rem;
        margin-left:2.5rem !important;
        width:10rem;
        height:10rem;
    }
    .what_people_say {
        height:800px !important;
    }
    /* what people will say */

    /* faculty */
    .faculty_medium {
        height:460px !important;
    }
    .faculty-card {
        margin-left:1rem;
        width:16rem;
    }
    /* faculty */

    /* stories */
    .medium_story {
        height:550px !important;
    }
    .story_card {
        width:18rem;
        margin-left:0rem;
    }
    /* stories */

    /* featured courses */
    .medium_course {
        height:520px !important;
    }
    .course_card {
        width:18rem;
        margin-left:0rem;
    }
    /* featured courses */
}
/* media queries */