/* Common */
.sec_pad {
    padding: 4rem 1rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}
.underline {
    border-top:2px solid #FCCB67;
    width:4rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* scroll-fade */
.scroll-fade {
    transition:0.5s;
}
/* scroll-fade */
/* Common */

/* First sec */
.nav-content {
    color:#213F7F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

.contain-students {
    padding:0rem 2rem;
}
.quality-students {
    margin-top:15rem;
    padding:0rem 6rem;
}
.clg_name {
    font-family:'Times New Roman', Times, serif;
    margin:0px;
    color:#213F7F;
}
.students {
    margin-top:3rem !important;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.nav-logo {
    margin-right: .3rem !important;
}
.navbar-element {
    font-family: 'Times New Roman', Times, serif;
    color:#213F7F !important;
}
.d-button:focus {
    outline:none;
}

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */
@media only screen and (max-width:1240px) {
    .quality-students {
        margin-top:10rem;
    }
}
@media only screen and (max-width:990px) {
    .quality-students {
        margin-top:8rem;
    }
}
/* First sec */

/* Common */
.heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border-top:4px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}

.carousel-indicators .active{
    background-color: #000000;
}
.carousel-indicators {
    background-color: rgba(144,144,144,0.00);
}
/* Common */

/* News */
.news-section {
    padding:3rem 0rem;
}
.contain-news-desc {
    padding:0rem 6rem;
}
.news-card {
    margin:2rem 0;
    overflow:hidden;
}
.active-news {
    background-color:#FAFAFA;
}
.news-body {
    padding:0px 1rem !important;
}
.news-text {
    padding:0.8rem 1rem;
}
.newsallcards {
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
}
.newsdate {
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius:0.25rem;
    border-bottom-left-radius:0.25rem;
    background-color:#1D194F;
    color:#F1F1F1;
    padding:8px 0px;
}
.date {
    font-size:1.8rem;
    font-weight:800 !important;
    margin:0px 0px 0px 0px;
}
.month {
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.eventdesc {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin:0px 0px 0px 0px;
}
.vertical-line {
    border-left:2px solid #707070;
}
.news-particular-info {
    font-weight:800 !important;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    color:#373737;
}
.news-text {
    font-family: 'Open Sans', sans-serif;
    padding:16px 16px;
    font-size:12px !important;
}
/* News */

/* About */

.card_2{
    color:black !important;
    font-family: 'Open Sans', sans-serif;
}

.img_2{
    height : 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}
.card_2_1{
    box-shadow: none !important;
    padding : 0rem 2rem;
}
.box {
    background-color: rgb(154, 167, 255 , 0.14) !important;
}
/* About */

/* Campus-Tour */
.campusimage {
    
    background:url(../images/home/college1.png);
    background-size: 100% auto;
    background-attachment: fixed;
  
   background-repeat: no-repeat;
    position:sticky;
    top:0;
    /* padding:18rem 6rem; */
  
  
    
}
/* .textcampustour {
    height: 100vh;
   
    background-color: rgba(0,0,0,0.5);
} */
.hidden-img{
   position: relative;
   
    z-index: -3;

  
}

.campushead {
 
   
    font-family: 'Raleway', sans-serif;
    color:#ffffff;
    font-weight:1000 !important;
    font-size:3.6rem;
    letter-spacing:2px;
    position: absolute;
    z-index: -2;
    top: 50%;
    width: 100%;
   text-align: center;
}
/* Campus-Tour */

/* News */
.contain-news-desc {
    padding:0rem 6rem;
}
.news-desc {
    color:#5A5A5A;
    margin-top:2rem;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}
.news {
    padding:0px 0px 0px 60px;
}
/* .news-particular {
    padding:0rem 4rem;
} */
.news-card {
    margin:2rem 0;
    overflow:hidden;
    /* padding:0rem 0rem 4rem 0rem; */
}
.active-news {
    background-color:#FAFAFA;
}
.news-body {
    padding:0px 1rem;
}
.news-text {
    padding:0.8rem 1rem;
}
.newsallcards {
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
}
.newsdate {
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius:0.25rem;
    border-bottom-left-radius:0.25rem;
    background-color:#1D194F;
    color:#F1F1F1;
    padding:8px 0px;
}
.container-news {
    padding : 0rem 6rem!important;
}
.date {
    font-size:1.8rem;
    font-weight:800 !important;
    margin:0px 0px 0px 0px;
}
.month {
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.eventdesc {
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    margin:0px 0px 0px 0px;
}
.vertical-line {
    border-left:2px solid #707070;
}
.news-particular-info {
    font-weight:800 !important;
    font-family: 'Open Sans', sans-serif;
    color:#373737;
}
.news-text {
    font-family: 'Open Sans', sans-serif;
    padding:16px 16px;
    font-size:12px !important;
}
/* News */

/* What People Will Say */
.people-section {
    background-color:#FBFBFB;
    padding:5rem 0rem;
}
.container-people {
    padding:0rem 8rem;
}
.people-card {
    background-color:#F3F3F3 !important;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1) !important;
}
.people-carousel-start {
    margin-top:2rem;
}
.people-card-body {
    padding:3rem !important;
    height:250px;
}
.people-education {
    color:#000000;
}
.people-text {
    color:#000000 !important;
    font-size:12px !important;
}
.people-img {
    height:200px;
    width:250px;
    border-radius:5px;
    margin-left:-8rem;
}
/* What People Will Say */

/* Why AKGEC */
.akg-img-first {
    background:url(../images/home/Group\ 1.png);
    background-size: 100% auto;
   background-repeat: no-repeat;   
   position:sticky;
   top:0;
}
.hidden-img{
    position: relative;
     z-index: -3; 
 }
 .container-content{
    padding:0rem 6rem;
    position: absolute;
    z-index: -2;
    top: 30%;
    width: 100%;
   
 }
 .whyakg-stats-first{
   
    border-left:3px solid #FFFFFF;
    
}
.whyakg-head-first {
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    color:#FFFFFF;
}
.whyakg-desc-first {
 
    font-family: 'Open Sans', sans-serif;
    margin-top:2rem;
    border-radius:2px;
    padding:1rem;
    color:#FFFFFF;
    background-color:rgba(255,255,255,0.2);
}

.whyakg-about-stats {
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
}
.whyakg-second-line {
    margin-top:4rem;
}
/* .akg-img-second {
    background:url(../images/home/whyakg\ \(1\).png);
   
    background-size: 100% auto;
    background-repeat: no-repeat;
    position:sticky;
    top:0;
    padding:8rem 6rem;
    
} */
/* .akg-text-second {
    height:100vh;
    
    background-color:rgba(0,0,0,0.7);
    padding:8rem 6rem;
    
} */

.line {
    border:2px solid #1D194F;
    width:100%;
    position:sticky;
    top:0;
}
/* Why AKGEC */


 
 /* upcoming events */
 .event-heading{
     font-weight: 800;
     color: #1d194f;
     font-size: 2.2rem;
     letter-spacing: 1.5px;
     font-family: 'Raleway', sans-serif;
 }
 
 .event-date{
     font-weight: 800;
     font-size: 1.8rem;
     color: #5A5A5A
 }
 
 .event-month{
     font-weight: 500;
     color: #5A5A5A
 }

 .allevents_link {
     letter-spacing: 1.5px;
     font-family: 'Raleway', sans-serif;
     color:#686868;
 }

 .events_link {
    margin-top:2rem;
 }
 /* upcoming events */
 
 .underline{
     border-top: 4px solid #fccb67;
     width: 4rem
 }
 
 /* placements */
 .placement_container {
     padding:2rem;
 }
 /* .placement_card{
     height: 220px;
 } */
 .placement_number {
     color:#fccb67;
 }
 .card-body-placement {
     padding:0px !important;
 }
 .placement_yr {
     padding-right:5px !important;
 }
 .medium_placement {
     display:none;
 }
 .small_placement {
     display:none;
 }
 /* placements */
 
 /* Industry_partners */
 .partner_start {
     margin-top:2rem;
 }
 .partner-img {
     padding:2rem !important;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 .industry_card{
     height: 95px!important;
     padding:1.5rem;
    
 }
 .industry_card img{
     height: 100%;
     
 }
 /* Industry_partners */

 /* register */
 .regis_sec {
     padding:6rem 4rem;
     background-color:#0C0D1E;
 }
 .regis_heading {
     color:#ffffff;
     font-family: 'Raleway', sans-serif;
     letter-spacing: 1.5px;
     font-weight:800;
 }
 .regis_desc {
     color:#ffffff;
 }
 .regis_img-container {
     margin-top:4rem;
 }
 .regis_img {
     height:5rem;
 }
 .vertical_line {
     border-right: 2px solid #ffffff;
 }
 .regis_form {
     padding:0rem 6rem !important;
 }
 .regis_select {
     border:0px solid #000;
     border-bottom: 1px solid #979797;
     width:26.2rem;
    color:#979797;
    background-color:#fff;
 }
 .regis_select:focus {
     outline:none;
 }
 .regis_btn {
     padding:0.5rem 6rem;
     background-color: #FCCB67;
     border:0px;
 }
 /* Faculty end */

 /* blog */
 .medium_blog {
    display:none;
 }
 /* blog */

 /* faculty */
 .faculty_medium {
     display:none;
 }
 /* faculty */

 /* stories */
 .medium_story {
     display:none;
 }
/* stories */

/* featured courses */
.large_course {
    height:555px;
}
.eventcards_container{
    padding: 0 5rem!important;
}
.medium_course {
    display:none;
}
/* carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(34%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-34%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
}
.c-padding {
    padding:1rem 1rem;
}
/* carousel */
.activity_card{
    height: 25rem!important;
}
.one-card {
    height:30rem;
    overflow:hidden;
}
/* scrollbar */
.card-text {
    height:8rem;
    overflow-y:auto;
    text-align: justify;
    padding-right:5%;
}
.eventcards {
    margin-right:.5rem;
}
/* Scrollbar */
/* width */
.card-text::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(236, 236, 236, .5);
}

/* Handle */
.card-text::-webkit-scrollbar-thumb {
    background: rgb(188, 188, 188, .5); 
    border-radius: 10px;
}

/* Handle on hover */
.card-text::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 176, 176, .5); 
}
/* Scrollbar */
/* featured courses */

/* stories */
.large_story {
    height: 580px;
}
.stories_info {
    font-weight:800;
}
/* stories */

/* media queries */
@media only screen and (max-width:1440px){
    /* Campus-Tour */
.campusimage {

    background-attachment: unset;
     
}
}
@media only screen and (max-width:1024px) {
    /* Why AKGEC */
    .container-content{
        padding:0rem 2rem;
        
        top: 15%;
      
       
     }
    
    /* about */
    .card_2_1 {
        padding:0rem .8rem;
    }
    /* about */

    /* register */
    .regis_form {
        padding:0rem 2rem !important;
    }
    .regis_select {
        width:19rem;
    }
    /* register */

    /* featured courses */
    .one-card {
        height:23rem;
    }
    .large_course {
        height:450px;
    }
    /* featured courses */

    /* news */
    .news-text {
        padding:.5rem .2rem;
    }
    .news-particular-info {
        font-size:16px;
    }
    .news-date-column {
        padding:.8rem 0rem !important;
    }
    .eventdesc {
        font-size: 14px !important;
    }
    /* news */

    /* upcoming events */
    /* .event_card {
        padding:2rem 10rem !important;
    } */
    /* upcoming events */

    /* blog */
    .large_blog {
        height:520px !important;
    }
    /* blog */

    /* campus-tour */
    .campushead {
        font-size:2.5rem;
    }
    /* campus-tour */

    /* what people will say */
    .what_people_say {
        height:350px !important;
    }
    .container-people {
        padding:0rem 6rem;
    }
    /* what people will say */
}
@media only screen and (max-width:768px) {
         /* Why AKGEC */
.akg-img-first, .akg-img-second {
   
    padding:1rem 1rem;
}
.why-akg{
    display: none;
}
    /* about */
    .card_2_1 {
        padding:0rem 12rem;
    }
    /* about */

    /* register */
    .regis_form {
        margin-top:3rem;
    }
    .regis_select {
        width:35rem;
    }
    /* register */

    /* news */
    .news-particular {
        display:none;
    }
    .container-news {
        padding:0rem 15rem !important;
    }
    /* news */

    /* upcoming events */
    .event_card {
        padding:2rem 4rem !important;
    }
    /* upcoming events */

    /* what people will say */
    .what_people_say {
        height:380px !important;
    }
    .container-people {
        padding:0rem 2rem;
    }
    .people-img {
        margin-left:.2rem !important;
    }
    .people-card-body {
        padding:3rem 2rem 0 9rem!important;
    }
    /* what people will say */

    /* faculty */
    .faculty_medium {
        display:block;
        height:550px !important;
    }
    .faculty_large {
        display:none;
    }
    .faculty-card {
        margin-left:10rem;
        width:25rem;
    }
    /* faculty */

    /* placement */
    .large_placement {
        display:none;
    }
    .medium_placement {
        display:block;
    }
    /* .placement_card{
        height: 260px;
    } */
    /* placement */

    /* stories */
    .large_story {
        display:none;
    }
    .medium_story {
        display:block;
    }
    .story_card {
        margin-left:11rem;
        width:25rem;
    }
    /* stories */

    /* campus-tour */
    .campushead {
        font-size:2rem;
    }
    /* campus-tour */

    /* featured courses */
    .large_course {
        display:none;
    }
    .medium_course {
        display:block;
        height:460px;
    }
    .course_card {
        margin-left:12rem;
        width:23rem;
    }
    .eventcards_container {
        padding:0 12rem !important;
    }
    /* featured courses */

        /* industry */
    .industry_card{
        height: 125px!important;
        padding:1.5rem;
       
    }

}

@media only screen and (max-width:460px) {
    .event_card {
        padding:2rem 1rem !important;
    }
        
    /* first section */
    .students {
        margin-top:1rem !important;
    }
    /* first section */

    /* about */
    .card_2_1 {
        padding:0rem 3rem;
    }
    /* about */

    /* register */
    .regis_form {
        padding:0rem 0rem !important;
    }
    .vertical_line {
        border-right: 0px solid;
    }
    .regis_img {
        margin-top:2rem;
    }
    .regis_select {
        width:19.8rem;
    }
    /* register */

    /* news */
    .container-news {
        padding:0rem 6rem !important;
    }
    /* news */

    /* blog */
    .large_blog {
        display:none;
    }
    .medium_blog {
        display:block;
        height:500px !important;
    }
    /* blog */

    /* campus-tour */
    .campushead {
        font-size:1.1rem;
        letter-spacing: 0px;
    }
    /* campus-tour */

    /* what people will say */
    .people-img {
        margin-top:2rem;
        margin-left:4rem !important;
    }
    .what_people_say {
        height:550px !important;
    }
    .people-card-body {
        padding: 3rem 3rem !important;
    }
    /* what people will say */

    /* faculty */
    .faculty-card {
        margin-left:2rem;
        width:20rem;
    }
    .faculty_medium {
        height:500px !important;
    }
    /* faculty */

    /* placement */
    .medium_placement {
        display:none;
    }
    .small_placement {
        display:block;
    }
    /* placement */

    /* stories */
    .story_card {
        width:20rem;
        margin-left:2rem;
    }
    /* stories */

    /* featured courses */
    .course_card {
        width:20rem;
        margin-left:4rem;
    }
    .eventcards_container {
        padding:0 4rem !important;
    }
    /* featured courses */
    .sec_heading{
        font-size: 1.7rem;
    }

    /* industry */
    .industry_card{
        height: 125px!important;
        padding:1.5rem;
        margin:0 2rem;
       
    }
}
@media only screen and (max-width:430px) {
    /* about */
    .card_2_1 {
        padding:0rem 1rem;
    }
    /* about */

    /* featured courses */
    .course_card {
        margin-left:3rem;
    }
    /* featured courses */

    /* register */
    .regis_select {
        width:18rem;
    }
    /* register */
}
@media only screen and (max-width:375px) {
        
    /* first section */
    .contain-students {
        padding:0rem 1rem;
    }
    /* first section */

    /* regiister */
    .regis_sec {
        padding:6rem 2rem;
    }
    .regis_select {
        width:19rem;
    }
    /* regiister */

     /* news */
     .container-news {
        padding:0rem 4rem !important;
    }
    /* news */
    
    /* upcoming events */
    .event_card {
        padding:2rem 1rem !important;
    }
    /* upcoming events */

    /* blog */
    .medium_blog {
        height:450px !important;
    }
    /* blog */

    /* campus-tour */
    .campushead {
        font-size:1rem;
    }
    /* campus-tour */

    /* what people will say */
    .people-img {
        margin-left:2rem !important;
    }
    .what_people_say {
        height:550px !important;
    }
    /* what people will say */

    /* faculty */
    .faculty-card {
        margin-left:.5rem;
        width:20rem;
    }
    /* faculty */

    /* stories */
    .story_card {
        margin-left:1rem !important;
    }
    /* stories */

    /* featured courses */
    .course_card {
        margin-left:1rem;
    }
    .eventcards_container {
        padding:0 2rem !important;
    }
    /* featured courses */

    /* industry */
    .industry_card{
        height: 115px!important;
        padding: 1.5rem;
        margin:0rem;
       
    }
    .sec_heading{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:320px) {
            
    /* about */
    .card_2_1 {
        padding:0rem 0rem;
    }
    /* about */

     /* news */
     .container-news {
        padding:0rem 2rem !important;
    }
    /* news */

    /* register */
    .regis_select {
        width:15rem;
    }
    /* regisster */

    /* what people will say */
    .people-img {
        margin-top:3.5rem;
        margin-left:2.5rem !important;
        width:10rem;
        height:10rem;
    }
    .what_people_say {
        height:580px !important;
    }
    .people-card-body {
        height:300px;
    }
    /* what people will say */

    /* faculty */
    .faculty_medium {
        height:460px !important;
    }
    .faculty-card {
        margin-left:1rem;
        width:16rem;
    }
    /* faculty */

    /* stories */
    .medium_story {
        height:550px !important;
    }
    .story_card {
        width:18rem;
        margin-left:-.4rem !important;
    }
    /* stories */

    /* campus-tour */
    .campushead {
        font-size:.8rem;
    }
    /* campus-tour */

    /* featured courses */
    /* .medium_course {
        height:520px !important;
    } */
    .course_card {
        width:18rem;
        margin-left:0rem;
    }
    .eventcards_container {
        padding:0 1rem !important;
    }
    /* featured courses */
}
/* media queries */

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 0rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */