/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* popup */
.contain-popup {
    position: fixed;
    height:100vh;
    width:100%;
    display:none;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    /* backdrop-filter:blur(8px); */
    z-index:500;
}
/* .close-popup {
    position: relative;
    left:15rem;
    top:1rem;
}
.close-popup-img {
    width:5%;
} */
.card-popup {
    background-color: #fff;
    position:fixed;
    top:12rem;
    left:30rem;
    width:30rem;
    height:20rem;
    padding:1.5rem 1rem 1rem 1rem;
    overflow:auto;
    border-radius:10px;
    animation: appear .5s 1;
}
.popup-head {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
}

/* Scrollbar */
/* width */
.card-popup::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.card-popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}

/* Handle */
.card-popup::-webkit-scrollbar-thumb {
    background: #696969; 
    border-radius: 2px;
}

/* Handle on hover */
.card-popup::-webkit-scrollbar-thumb:hover {
    background: #696969; 
}
/* Scrollbar */

@keyframes appear {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

/* media queries */
@media only screen and (max-width:1024px) {
    .card-popup {
        top:15rem;
        left:16.5rem;
    }
}
@media only screen and (max-width:768px) {
    .card-popup {
        top:15rem;
        left:9rem;
    }
}
@media only screen and (max-width:455px) {
    .card-popup {
        top:13rem;
        left:4.5rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:430px) {
    .card-popup {
        top:12rem;
        left:3.5rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:375px) {
    .card-popup {
        top:12rem;
        left:1.8rem;
        width:20rem;
        height:22rem;
    }
}
@media only screen and (max-width:320px) {
    .card-popup {
        top:12rem;
        left:1rem;
        width:18rem;
        height:23rem;
    }
}
/* media queries */

/* popup */

/* introduction */
.si_sec_pad {
    padding:8rem 0rem 0 0;
}
.r_desc {
    color:#5A5A5A;
}
.r_desc p {
    text-align: justify;
}
/* introduction */

/* what we do */
.card_2{
    font-family: 'Open Sans', sans-serif;
    box-shadow: none !important;
    padding : 0rem 2rem;
}
.wwd_part_1 {
    margin-top:4rem;
}
.wwd_part_2 {
    margin-top:4rem;
}
.wwd_img{
    height : 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
}
.wwd_box {
    background-color: #FFF !important;
    border-radius: 5px;
    border:1.5px solid #FCCB67;
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
.wwd_part_head {
    color:#000;
    font-weight:800;
    letter-spacing: 1px;
}
.wwd_explore {
    font-weight:800;
    color:#000;
    letter-spacing: 2px;
}
.wwd_body {
    padding:0 !important;
}
/* what we do */

/* faculty head */
.head_sec {
    background:#F2F2F2;
}
.faculty_box {
    background-color:#fff;
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding:.8rem 1.5rem;
    border-radius:5px;
}
.head_desc {
    padding:0 !important;
}
.head_str {
    font-weight:800;
    color:#FDD329;
}
.faculty_head_name {
    font-weight: 800;
}
.head_image {
    text-align: right;
}
/* faculty head */

/* contact */
.con_text {
    color:#000;
    font-weight: 800;
}
.con_text_2 {
    color:#000;
}
/* contact */




/* media queries */
@media only screen and (max-width:1024px) {
    /* what we do */
    .card_2 {
        padding:0rem;
    }
    /* what we do */
}
@media only screen and (max-width:768px) {
    /* what we do */
    .card_2 {
        padding:0rem 11rem;
    }
    .wwd_part_2 {
        margin-top:1.5rem;
    }
    /* what we do */

    /* faculty head */
    .fac_head {
        margin-bottom:2rem;
    }
    .faculty_box {
        margin-right:6rem;
    }
    /* faculty head */
}
@media only screen and (max-width:455px) {
    /* what we do */
    .card_2 {
        padding:0rem 3rem;
    }
    /* what we do */

    /* faculty head */
    .faculty_box {
        margin-right:2rem;
    }
    /* faculty head */

    /* contact */
    .con_det_col {
        margin-top:2rem;
    }
    /* contact */
}
@media only screen and (max-width:430px) {
    /* what we do */
    .card_2 {
        padding:0rem 2rem;
    }
    /* what we do */

    /* faculty head */
    .faculty_box {
        margin-right:1.6rem;
    }
    /* faculty head */
}
@media only screen and (max-width:375px) {
    /* what we do */
    .card_2 {
        padding:0rem 1rem;
    }
    /* what we do */

    /* faculty head */
    .faculty_box {
        margin-right:1.4rem;
        padding:.6rem 1.5rem;
    }
    /* faculty head */
}
@media only screen and (max-width:320px) {
    /* what we do */
    .card_2 {
        padding:0rem;
    }
    /* what we do */

    /* faculty head */
    .faculty_box {
        padding:.1rem 1.5rem;
    }
    /* faculty head */
}
/* media queries */


/* footer */
.list-unstyled{
    color: black
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color: #2e2e2e !important;
     text-decoration: underline !important
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */