/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* section */
.sec_pad_large {
    padding:8rem 2rem 4rem;
}
.light_shadow {
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,.288);
}
.r-margin {
    margin-top:3rem;
}
.col-pad {
    padding:0 4.4rem !important;
}
.box {
    padding:.5rem 0 1rem;
    border-radius:10px;
    border:2px solid #FCCB67;
}
.ctr-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
}
.ctr-name {
    font-family: 'Open Sans', sans-serif;
    color:#1D194F;
    font-size:1.5rem;
    font-weight:800;
    margin-bottom:0;
}
.small-text {
    font-size:1.3rem !important;
}
/* section */


 /* media queries */
 @media only screen and (max-width:1024px) {
    .box {
        height:250px;
        padding:.5rem;
    }
}
@media only screen and (max-width:768px) {
    .box {
        height:auto;
        margin-bottom:3rem;
    }
    .r-margin {
        margin-top:0rem;
    }
    .col-pad {
        padding:0 8rem !important;
    }
}
@media only screen and (max-width:455px) {
    .sec_heading{
        font-size: 1.7rem;
    }
    .col-pad {
        padding:0 2rem !important;
    }
}
@media only screen and (max-width:430px) {
    
}
@media only screen and (max-width:375px) {
  
}
@media only screen and (max-width:320px) {
    .col-pad {
        padding:0 .5rem !important;
    }
}
/* media queries */

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */