/* common */
.sec_pad {
    padding: 4rem 1rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.st-shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.08);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* landing */
.first_sec_pad {
    padding: 8rem 1rem 4rem;
}
.achieve-desc {
    color:#1D194F;
}
.achieve-head {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.medium{
    display: none;
}

/* landing */

/* awards */

.g-bg {
    background:url('../../images/achievements/bg-vector2.png');
    background-size:contain;
    background-repeat: no-repeat;
}

.awards-img{
    margin-top: 4.5rem;
    width: 65%;
    border-radius: 10px;
}
.award-contain{
    height: 400px;
    margin:auto;
}

/* awards */

/* activities */
.medium_activity {
    display:none;
}
.activity-month {
    margin-top:2px;
    font-size:10px;
    float: right !important;
}
.activity-date {
    float: left !important;
}
.activity-date-container {
    padding-left:5rem !important;
}
.activity-cal {
    width:200%;
    margin-top:12px;
}
.activity-info {
    text-align: justify;
}
@media (min-width: 320px) {
    .activity-month {
        max-width: 1.8rem !important;
        flex:none !important;
    }
}
@media (min-width: 320px) {
    .activity-date {
        max-width: 2.3rem !important;
        flex:none !important;
    }
}
.card-img-top{
    height: 11rem!important;
}
.activity_card{
    height: 25rem!important;
}
/* scrollbar */
.card-text {
    height:8rem;
    overflow-y:auto;
}

/* Scrollbar */
/* width */
.card-text::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(236, 236, 236, .5);
}

/* Handle */
.card-text::-webkit-scrollbar-thumb {
    background: rgb(188, 188, 188, .5); 
    border-radius: 10px;
}

/* Handle on hover */
.card-text::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 176, 176, .5); 
}
/* Scrollbar */
/* activities */

.life-mybtn-blue{
    border-radius: 2rem!important;
    background-image: linear-gradient(#1ECBF4, #194DC3);
    color: white!important;
    margin-bottom: 4rem !important;
    -webkit-tap-highlight-color: none!important;
}

/* featured courses */
.large_course {
    height:540px;
}
.eventcards_container{
    padding: 0 5rem!important;
}
.medium_course {
    display:none;
}
/* carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(34%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-34%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
}
.c-padding {
    padding:1rem 1rem;
}
/* carousel */
.activity_card{
    height: 25rem!important;
}
.one-card {
    height:28rem;
    overflow:hidden;
    border-radius:15px !important;
}
/* scrollbar */
.card-text {
    height:8rem;
    overflow-y:auto;
    text-align: justify;
    padding-right:5%;
}
.eventcards {
    margin-right:.5rem;
}
.card-det {
    font-family: 'Raleway', sans-serif;
}
/* Scrollbar */
/* width */
.card-text::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(236, 236, 236, .5);
}

/* Handle */
.card-text::-webkit-scrollbar-thumb {
    background: rgb(188, 188, 188, .5); 
    border-radius: 10px;
}

/* Handle on hover */
.card-text::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 176, 176, .5); 
}
/* Scrollbar */
/* featured courses */


@media only screen and (max-width:1024px) {
  /* awards */
    .award-contain{
        height: 300px;
        margin:auto;
    }  
    .awards-img{
        margin-top: 3.2rem;
        width: 70%;
    }

    /* featured courses */
    .one-card {
        height:23rem;
    }
    .large_course {
        height:450px;
    }
    .eventcards {
        padding:0 10px!important;
    }
    /* featured courses */
}
@media only screen and (max-width:768px) {
    /* awards */
    .award-contain{
        height: 470px;
    }
    .awards-img{
        width: 75%;
    }
    .medium{
        display: block;
    }
    .large{
        display: none;
    }

    /* featured courses */
    .large_course {
        display:none;
    }
    .medium_course {
        display:block;
        height:460px;
    }
    .course_card {
        margin-left:12rem;
        width:23rem;
    }
    .eventcards_container {
        padding:0 12rem !important;
    }
    .one-card {
        height:25rem !important;
    }
    /* featured courses */
}
@media only screen and (max-width:455px) {
    /* awards */
    .awards-img{
        margin-top: 2.5rem;
       
    }
    .award-contain{
        height: 250px;
    }

    .life-mybtn-pink, .life-mybtn-blue{
        padding: .7rem 1.5rem !important;
    }
    
   /* featured courses */
   .course_card {
    width:20rem;
    margin-left:4rem;
    }
    .eventcards_container {
        padding:0 4rem !important;
    }
    /* featured courses */
}
@media only screen and (max-width:430px) {
    /* featured courses */
    .course_card {
        margin-left:3rem;
    }
    /* featured courses */
}
@media only screen and (max-width:375px) {
    /* common */
    .sec_pad {
        padding: 4rem 0rem;
    }
    /* landing*/
    .first_sec_pad {
        padding: 8rem 0rem 4rem;
    }
    
    /* featured courses */
    .course_card {
        margin-left:1rem;
    }
    .eventcards_container {
        padding:0 2rem !important;
    }
    /* featured courses */
}
@media only screen and (max-width:320px) {
    /* awards */
    .awards-img{
        margin-top: 2rem;
        width: 78%;
    }
    .award-contain{
        height: 200px;
    }

    /* featured courses */
    /* .medium_course {
        height:520px !important;
    } */
    .course_card {
        width:18rem;
        margin-left:0rem;
    }
    .eventcards_container {
        padding:0 1rem !important;
    }
    /* featured courses */
}

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */