/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1) !important;
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* section */
.medium_visit {
    display:none;
}
.first_sec_pad_pm {
    padding:8rem 0 4rem 0;
}
.card_box {
    border-radius:10px !important;
    height:25rem;
    width:100%;
}
.carousel-height {
    height:25rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.visit-date {
    padding:4px;
    border-radius:5px;
    background-color: #1D194F;
    color:#fff;
    margin-right:5px;
    font-weight: 800;
}
.text-scroll {
    height:20rem;
    overflow-y:auto;
    text-align: justify;
}

/* Scrollbar */
/* width */
.text-scroll::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.text-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #D4D2D2;
}

/* Handle */
.text-scroll::-webkit-scrollbar-thumb {
    background: #696969; 
    border-radius: 10px;
}

/* Handle on hover */
.text-scroll::-webkit-scrollbar-thumb:hover {
    background: #696969; 
}
/* Scrollbar */
/* section */

/* carousel diff sec */
.main-height {
    height:510px;    
}
/* carousel diff sec */


/* media queries */
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:768px) {
    .large_visit {
        display:none;
    }
    .medium_visit {
        display:block;
    }
    .card_box {
        height:43rem;
    }
    .carousel-height {
        height:20rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .text-scroll {
        height:18rem;
    }
}
@media only screen and (max-width:455px) {
    .visit_date {
        margin-left:-4rem;
    }
}
@media only screen and (max-width:430px) {
    
}
@media only screen and (max-width:375px) {
    .carousel-height {
        height:15rem;
    }
    .card_box {
        height:38.5rem;
    }
}
@media only screen and (max-width:320px) {
    .visit_date {
        margin-left:-5rem;
    }
}
/* media queries */

/* footer */
.list-unstyled{
    color: black
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color: #2e2e2e !important;
     text-decoration: underline !important
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */