/* common */
.sec_pad {
    padding: 4rem 1rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.st-shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.08);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* student arards */
.sec_pad_start {
    padding:8.7rem 1rem 4rem 1rem;
}
.life_head{
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}
/* student awards */

/* stats */
.stats-text {
    font-family: 'Open Sans', sans-serif;
    color:#1D194F;
}
.stats-no {
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    font-size:1.5rem;
    margin-top:.6rem;
}
/* stats */

/* carousel */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
  display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
  transform: translateX(-33%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
  transform: translateX(0);
}
.c-padding {
    padding:1rem 1rem;
}
/* carousel */

/* students */
.student-height {
    height:250px;
}
.people-card {
    background-color:#F1F3FF !important;
    color:#494671;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 10px 30px -4px rgba(0,0,0,0.08);
}
.people-carousel-start {
    margin-top:2rem;
}
.people-card-body {
    padding:2rem 0 0 4.5rem !important;
    height:150px;
}
.people-name {
    font-weight:800 !important;
    font-size:1.2rem;
}
.people-img {
    width:150px;
    margin-left:-3rem;
}
/* students */

/* tech & extra-curricular */
.manage-head {
    padding: 0 0 0 2rem !important;
}
.manage_heading {
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    margin-right: 5rem;
    cursor: pointer;
}
/* tech & extra-curricular */

/* technical */
.achieve-head {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 1000 !important;
    font-size:2rem;
    letter-spacing:1.5px;
}
.g-padding {
    padding-left:4rem !important;
}
.g-bg {
    background:url('../../images/achievements/bg-vector2.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.award-contain{
    height: 400px;
    margin:auto;
}
.awards-img{
    margin-top: 2rem;
    width: 65%;
    border-radius: 10px;
}
.g-pd {
    padding:.5rem 3rem !important;
}
.img-br {
    border-radius:3rem;
    padding:1.5rem 0;
}
.med-disp {
    display:none !important;
}
.margin-tech {
    margin-top:9rem;
}
.technical-container {
    padding:0 0 0 0rem !important;
}
.award-height {
    height:84rem;
}
.manage-ul{
    padding: 0rem!important;
}
.life-mybtn-blue{
    border-radius: 2rem!important;
    background-image: linear-gradient(#1ECBF4, #194DC3);
    color: white!important;
    margin:-2rem 0 6rem 2rem !important;
    -webkit-tap-highlight-color: none!important;
}
/* technical */

/* awards */

.g-bg {
    background:url('../../images/achievements/bg-vector2.png');
    background-size:contain;
    background-repeat: no-repeat;
}

.awards-img{
    margin-top: 4.5rem;
    width: 65%;
    border-radius: 10px;
}
.award-contain{
    height: 400px;
    margin:auto;
}
.medium{
    display: none;
}

/* awards */

@media only screen and (max-width:1024px) {
     /* awards */

    /* tech & extra-curricular */
    
    .award-contain{
        height: 300px;
        margin:auto;
    }  
    .awards-img{
        margin-top: 3.2rem;
        width: 70%;
    }
    /* tech & extra-curricular */

    /* technical */
    .technical-container {
        padding:0 1rem !important;
    }
    /* technical */

    /* students */
    .people-img {
        width:120px;
    }
    .people-card-body {
        padding:.5rem .5rem 0 3.5rem !important;
    }
    .student-pad {
        padding:0 2rem !important;
    }
    /* students */
}
@media only screen and (max-width:768px) {
     /* awards */
     .award-contain{
        height: 470px;
    }
    .awards-img{
        width: 75%;
    }
    .medium{
        display: block;
    }
    .large{
        display: none;
    }

    /* stats */
    .stats-m {
        margin-top:2rem;
    }
    /* stats */

    /* tech & extra-curricular */
    .manage_heading {
        font-size: 1.5rem;
        margin-right: 3rem;
    }
    .large-tech {
        display:none !important;
    }
    .med-disp {
        display:block !important;
    }
    .med-tech {
        margin:0 2rem !important;
    }
    .award-contain{
        height: 470px;
    }
    .awards-img{
        width: 75%;
    }
    /* tech & extra-curricular */

    /* technical */
    .margin-tech {
        margin-top:6rem !important;
    }
    .award-height {
        height:135rem;
    }
    /* technical*/

    /* students */
    .people-img {
        width:150px;
    }
    .people-card-body {
        padding:1.5rem .5rem 0 3.5rem !important;
    }
    .student-pad {
        margin:0 2rem;
    }
    .carousel-inner.vv-3 .carousel-item-right.active,
    .carousel-inner.vv-3 .carousel-item-next {
    transform: translateX(100%);
    }

    .carousel-inner.vv-3 .carousel-item-left.active,
    .carousel-inner.vv-3 .carousel-item-prev {
    transform: translateX(-100%);
    }
    /* students */
}
@media only screen and (max-width:460px) {
    /* awards */
    .awards-img{
        margin-top: 2.5rem;
       
    }
    .award-contain{
        height: 250px;
    }

    .life-mybtn-pink, .life-mybtn-blue{
        padding: .7rem 1.5rem !important;
    }

    /* tech & extra-curricular */
    .manage-head {
        margin: 0 !important;
        padding-left: 2rem !important;
    }

    .manage_heading {
        font-size: 1.3rem;
        margin-right: 0rem;
    }

    .manage-ul {
        padding-left: 0 !important;
    }
    .g-padding {
        padding-left:.5rem !important;
    }
    .achieve-head {
        font-size:1.5rem;
    }
    .awards-img{
        margin-top: 2.5rem;
       
    }
    .award-contain{
        height: 250px;
    }
    /* tech & extra-curricular */

    /* technical */
    .award-height {
        height:145rem;
    }
    /* technical */

    /* students */
    .student-height {
        height:350px;
    }
    .people-img {
        width:150px;
        margin-top:.5rem;
        margin-left:5rem;
    }
    .student-pad {
        margin:0;
    }
    /* students */

    /* common */
    .sec_heading{
        font-size: 1.7rem !important;
    }
}
@media only screen and (max-width:430px) {
    /* tech & extra-curricular */
    .med-tech {
        margin:0 .5rem !important;
    }
    /* tech & extra-curricular */

    /* technical */
    .margin-tech {
        margin-top:3rem !important;
    }
    .award-height {
        height:138rem;
    }
    /* technical*/

    /* students */
    .people-img {
        margin-left:4rem;
    }
    /* students */
}
@media only screen and (max-width:375px) {
    /* tech & extra-curricular */
    .manage-head {
        margin: 0 !important;
        padding-left: 1rem !important;
    }

    .manage_heading {
        font-size: 1.3rem;
        margin-right: 0rem;
    }
    .med-tech {
        margin:0 0rem !important;
    }
    /* tech & extra-curricular */

    /* technical */
    .margin-tech {
        margin-top:3rem !important;
    }
    .award-height {
        height:142rem;
    }
    /* technical*/

    /* students */
    .people-img {
        width:120px;
        margin-left:3.2rem;
    }
    .people-card-body {
        padding:1.2rem .5rem 0 2rem !important;
    }
    /* students */

            /* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_pad_start {
    padding:8.7rem 0rem 4rem 0rem;
}
.life-mybtn-blue{
    
    margin:-2rem 0 5rem 1rem !important;
   
}
}
@media only screen and (max-width:320px) {
     /* awards */
     .awards-img{
        margin-top: 2rem;
        width: 78%;
    }
    .award-contain{
        height: 200px;
    }

    /* tech & extra-curricular */
    .g-bg,.g-padding {
        padding:0 !important;
    }
    .awards-img{
        margin-top: 2rem;
        width: 78%;
    }
    .award-contain{
        height: 200px;
    }
    /* tech & extra-curricular */

    /* technicall */
    .award-height {
        height:152rem;
    }
    /* technical */

    /* students */
    .student-pad {
        padding: 0 .5rem !important;
    }
    .people-card-body {
        padding:1.2rem .5rem 0 1.5rem !important;
    }
    /* students */
}

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */