/* common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */

/* deptt */
.sec_pad_tp {
    padding:8rem 0 4rem 0;
}
.faculty_box {
    background-color:#fff;
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding:.8rem 1.5rem;
    border-radius:5px;
}
.head_desc {
    padding:0 !important;
}
.head_desc_single {
    padding:0 20rem 0 0 !important;
}
.head_str {
    font-weight:800;
    color:#FDD329;
}
.faculty_head_name {
    font-weight: 800;
}
.head_image {
    text-align: right;
}
/* deptt */

/* programs */
.awards-pad {
    padding:0 5rem !important;
}
.card_box {
    border-radius:10px;
    height:30rem;
    width:100%;
}
.carousel-height {
    height:15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pro-name {
    color:#FDC95D;
    font-weight: 800;
    margin-left: 1rem;
}
.prg-pad {
    padding:0 1rem 1rem 1rem;
}
.text-scroll {
    height:12rem;
    overflow-y:auto;
    text-align: justify;
}

/* Scrollbar */
/* width */
.text-scroll::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.text-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #D4D2D2;
}

/* Handle */
.text-scroll::-webkit-scrollbar-thumb {
    background: #696969; 
    border-radius: 10px;
}

/* Handle on hover */
.text-scroll::-webkit-scrollbar-thumb:hover {
    background: #696969; 
}
/* Scrollbar */
/* programs */

/* media queries */
@media only screen and (max-width:1024px) {
    /* head */
    .head_desc_single {
        padding:0 15rem 0 0 !important;
    }
    /* head */

    /* programs */
    .awards-pad {
        padding:0 3rem !important;
    }
    /* programs */
}
@media only screen and (max-width:768px) {
    /* head */
    .fac_head {
        margin-bottom:2rem;
    }
    .faculty_box {
        margin-right:6rem;
    }
    .head_desc_single {
        padding:0 0rem 0 0 !important;
    }
    /* head */

    /* programs */
    .awards-pad {
        padding:2rem 10rem !important;
    }
    /* programs */
}
@media only screen and (max-width:455px) {
    /* head */
    .faculty_box {
        margin-right:2rem;
    }
    .head_image{
        padding-top:1rem;
    }
    /* head */

    /* programs */
    .awards-pad {
        padding:2rem 3rem !important;
    }
    /* programs */
}
@media only screen and (max-width:430px) {
    /* head */
    .faculty_box {
        margin-right:1.6rem;
    }
    /* head */
}
@media only screen and (max-width:375px) {
    /* head */
    .faculty_box {
        margin-right:1.4rem;
        padding:.6rem 1.5rem;
    }
    /* head */

    /* programs */
    .awards-pad {
        padding:2rem 2rem !important;
    }
    /* programs */
}
@media only screen and (max-width:320px) {
    /* head */
    .faculty_box {
        padding:.1rem 1.5rem;
    }
    .head_image{
        padding-top:2rem;
    }
    /* head */

    /* programs */
    .awards-pad {
        padding:2rem 1rem !important;
    }
    /* programs */
}
/* media queries */

/* footer */
.list-unstyled{
    color: black;
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color:#1D194F;
 }
 .copyright-link:hover {
     text-decoration: underline !important;
 }
 .copy-text {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */

 /* media queries */
@media only screen and (max-width:1024px) {
    
}
@media only screen and (max-width:768px) {
    
}
@media only screen and (max-width:455px) {
   
}
@media only screen and (max-width:430px) {
    
}
@media only screen and (max-width:375px) {
  
}
@media only screen and (max-width:320px) {
    
}
/* media queries */