/* common */
html {
    scroll-behavior: smooth;
}
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
    background-color: #444;
}
.st-shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.08);
}
/* common */
/* navbar */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */

/* navbar */



/* honor */
.first_sec_pad {
    padding: 8rem 0rem 4rem;
}
.achieve-desc {
   
}
.achieve-head {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.mtop {
    margin-top:4.5rem;
}
/* honor */

/* on-this-page */

.this-page{
   
    padding: 0rem 5rem 0 3rem!important;
}
.this-pg-ul a {
    color: inherit;
}
.this-pg-ul{
    background-color: #ECECEC;
    padding:1rem 2.8rem !important;
   
    color:#1D194F!important ;
    border-top: 4px solid #1D194F;
}

/* on-this-page */

/* stats */
.clr-bg {
    background-color: rgb(154, 167, 255, .14);
}
.clr-bg-2 {
    background-color: #1D194F;
    padding:1rem 7rem !important;
}
.stats-head {
    font-family: 'Raleway', sans-serif;
    color:#FFFFFF;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.stats-text {
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
.clr-box {
    padding:1rem 2rem !important;
}
.stats-head-2 {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.stats-text-2 {
    color:#1D194F;
    font-family: 'Open Sans', sans-serif;
}
/* stats */

/* awards */
.acr-box {
    border-radius: 35px;
    padding: 2.2rem;

}

.height-box {
    height: 367px;
}

.height-box-1 {
    height: 340px;
    padding-top: 4rem;
}

.acr-head {
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 1.7rem;
}

.acr-margin {
    margin-top: 3rem;
}

.acr_contain {
    padding: 2rem !important;
}

.acr-box-pad {
    padding: 1.5rem 6rem !important;
}
/* awards */

/* glory */
.g-padding {
    padding-left:3rem !important;
}
.g-bg {
    background:url('../../images/achievements/bg-illustration.png');
    background-size:100% 100%;
}
.g-pd {
    padding:.5rem 3rem !important;
}
.g-box {
    background-color:#ffffff;
    border-radius:15px;
    padding:2rem;
}
.g-type {
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    color:#42495B;
}
.g-text {
    font-family: 'Open Sans', sans-serif;
    color:#42495B;
}
.more-btn {
    border-radius:20px;
    font-family: 'Open Sans', sans-serif;
    border:2px solid #707070;
    font-size:13px;
    padding:.3rem .6rem;
    background-color:transparent;
    font-weight:800;
}
.more-btn:hover {
    background-color:#707070;
    color:#fff;
    transition:.2s all;
}
.more-btn:focus {
    outline:none;
}
/* glory */


@media only screen and (max-width:1025px) {
    /* honor */
    .mtop {
        margin-top:0rem;
    }
    /* honor */
    /* on-this-page */
.this-page{
    
    padding: 0rem 2rem 0 !important;
}
.this-pg-ul{
    padding:1.3rem!important;
}

    /* stats */
    .clr-bg-2 {
        padding:1rem 3rem !important;
    }
    /* stats */

    /* award */
    .acr_contain {
        padding: 0 2rem !important;
    }
    .acr-box-pad {
        padding: 1rem 1.5rem !important;
    }
    .acr-box {
        border-radius: 30px;
        padding: 1.3rem 1.9rem;
    }
    .height-box-1 {
        padding-top: 2.7rem;
    }
    /* award */

    /* glory */
    .g-pd {
        padding:.5rem 15px !important;
    }
    .g-box {
        padding:2rem .5rem;
    }
    /* glory */
}
@media only screen and (max-width:768px) {
        /* on-this-page */
.this-page{
    
    padding: 0rem 1rem 0 !important;
}
.this-pg-ul{
    padding: 1rem .5rem!important;
}
 /* on-this-page */
    /* glory */
.g-padding {
    padding:0 3rem 3rem  !important;
}
    /* honor */
    .p-dimen {
        padding:2rem 2rem 0 !important;
    }
    /* honor */

    /* award */
    .height-box {
        height: auto;
    }

    .acr-box {
        margin-bottom: 3rem;
    }

    .acr-margin {
        margin-top: 0;
    }
    .height-box-1 {
        height:auto;
    }
    /* award */
}
@media only screen and (max-width:461px) {
     /* on-this-page */
    .this-pg-ul {
        padding: 1rem!important;
    }
     /* on-this-page */
    .sec_heading{
        font-size: 1.7rem;
    }
    /* honor */
    
    .achieve-head {
        font-size:1.7rem;
    }
    /* honor */

    /* award */
    .acr-box {
        margin-bottom: 0rem;
        padding: 2rem;
    }
    .acr-img {
        padding-right: 14rem !important;
    }
    /* award */

    /* glory */
    .g-pd {
        padding:.5rem 2.5rem !important;
    }
    .g-padding {
        padding:0 1rem  !important;
    }
    .g-bg {
        background: none;
    }
    
    /* glory */
}
@media only screen and (max-width:430px) {
    
}
@media only screen and (max-width:376px) {
    /* award */
    .acr-head {
        font-size: 21px;
    }
    .acr_contain {
        padding: 0 1rem !important;
    }
    .acr-img {
        padding-right: 13rem !important;
    }
    /* award */

    /* glory */
    .g-pd {
        padding:.5rem 1.5rem !important;
    }
    .g-padding {
        padding-left:1rem !important;
    }
    /* glory */
}
@media only screen and (max-width:321px) {
    /* honor */
    .p-dimen {
        padding:2rem 1rem 0 !important;
    }
    /* honor */

    /* award */
    .acr-img {
        padding-right: 10rem !important;
    }
    /* award */

    /* glory */
    .g-pd {
        padding:.5rem 1rem !important;
    }
    /* glory */
}


/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */