/* Common */
.sec_pad {
    padding: 4rem 0rem;
}
.sec_heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
}
.sec_text {
    font-family: 'Open Sans', sans-serif;  
}
.sec_color_bg {
    background-color:#FBFBFB;
}
.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}
.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
}
/* Common */

/* First sec */
.nav-content {
    color:#1D194F;
}
.navbar {
    box-shadow:0px 0px 0px 0px !important;
}
.mynav {
    background-color: #ffffff;
}
/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}
.life-akg li {
    display: block;
    position: relative;
    float: left;
}
.life-akg li ul { display: none; }
.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}
.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}
.life-akg li:hover > ul {
    display: block;
    position: absolute;
}
.life-akg li:hover li { float: none; }
.life-akg li:hover a { background-color: #FBFBFB;}
.life-akg li:hover li a:hover { background: #FFF; }

.life-akg li ul {
    right: 100%;
    top: 0;
}
.life-akg:before, .life-akg:after {
    content: " ";
    display: table;
}
.life-akg:after { clear: both; }
/* life-akgec-nav-menu */

.contain-students {
    padding:0rem 2rem;
}
.quality-students {
    margin-top:15rem;
    padding:0rem 6rem;
}
.clg_name {
    font-family: 'Raleway', sans-serif;
    margin:0px;
    color:#1D194F;
}
.students {
    margin-top:3rem !important;
}
.d-button {
    border:0;
    background-color:transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.navbar-element {
    font-family: 'Open Sans', sans-serif;
}
.d-button:focus {
    outline:none;
}

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
/* hamburger */
@media only screen and (max-width:1240px) {
    .quality-students {
        margin-top:10rem;
    }
}
@media only screen and (max-width:990px) {
    .quality-students {
        margin-top:8rem;
    }
}
/* First sec */

/* Common */
.heading {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
    font-weight: 800;
    font-size:2.2rem;
    letter-spacing:1.5px;
}
.underline {
    border:2px solid #FCCB67;
    width:4rem;
    margin-bottom:2rem;
}
.description {
    color:#5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
}

.carousel-indicators .active{
    background-color: #000000;
}
.carousel-indicators {
    background-color: rgba(144,144,144,0.00);
}
/* Common */

/* footer */
.list-unstyled{
    color: black;
 }
 
 .footer-akg {
     padding-left: 4rem !important;
     border-right: 2px solid #000;
 }
 
 .footer-main {
     background-color: #dedede
 }
 
 .footer-copy{
     border-top: 5px solid #fdc95d;
     color: #2e2e2e;
     background-color: #fff;
     font-size: 1.3rem
 }
 
 .copyright-link {
     color:#1D194F;
 }
 .copyright-link:hover {
     text-decoration: underline !important;
 }
 .copy-text {
    font-family: 'Raleway', sans-serif;
    color:#1D194F;
 }
 
 .footer-vertical-line {
     border-right: 2px solid #000
 }
 
 .footer-list1 {
     margin-left: 1.5rem;
     font-size: 1.1rem;
     font-weight: 500
 }
 
 .footer-list2{
     margin-left: 1.5rem;
 }
 
 .footer-email {
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem
 }
 
 .footer-number {
     font-size: 0.8rem;
     font-weight: 450
 }
 
 .footer-college1 {
     margin-top: 0.5rem;
     font-size: 1.2rem;
     font-weight: 500
 }
 
 .footer-college2 {
     font-weight: 500
 }
 
 .footer-logo {
     margin-left: 4rem;
 }
 
 @media only screen and (max-width: 991px)
 {
     .footer-logo {
         margin-left: 4rem
     }
     .footer-akg {
         padding-left: 1rem !important;
     }
     .event-date{
         font-size: 1rem;
     }
     
     .event-month{
         font-size: 1rem;
     }
     
 }
 
 @media only screen and (max-width: 767px)
 {
     .footer-list1 {
         margin-left: 0rem;
     }
     
     .footer-list2{
         margin-left: 0rem;
     }
     .footer-logo {
         margin-left: 0rem
     }
     .footer-akg {
         padding-left: 1rem !important;
         border-right: 0;
     }
     .footer-vertical-line {
         border-right: 0
     }
 }
 /* footer */

 .sec_pad_landing{
    padding:10rem 0rem 2rem;
}
.landing_box_heading{
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing:.8px;
    color: #355C7D;
    font-weight: 900!important;
    font-size: 1.15rem;
}
.landing_box_text{
    font-family: 'Open Sans', sans-serif; 
    color: #355C7D;    
}
/* same as in academic : text-color:change */

.landing_box_highlight_download{
    box-shadow: 0px 8px 20px -4px rgba(0,0,0,0.1);
    padding: 2.5rem 3rem;
    margin: 3rem 6rem 6rem!important;
    border-radius: 10px;
}
.box-height {
    height:44rem;
}
.management_list{
    padding: .5rem 0 0 1em!important;
}
.landing_box_text ul{
    list-style-image: url(../../images/about/Group\ 354.png);
    
}



/* application form */
 
 /* media queries */
 @media only screen and (max-width:1440px) {
    .box-height {
        height:44rem;
    }
    .landing_box_highlight_download {
        padding: 2.5rem 1.5rem ; 
    }
}
@media only screen and (max-width:1024px) {
    /* application form */
    .landing_box_highlight_download {
        padding: 2.5rem 2rem;
        margin: 3rem .9rem 4rem!important;
    }
}
@media only screen and (max-width:768px) {
    .landing_box_highlight_download {
        padding: 2rem 1.5rem 2.5rem .3rem;
    }
}
@media only screen and (max-width:455px) {
    .box-height {
        height:auto;
    }
    .academic_img {
        width:4rem;
    }
}
@media only screen and (max-width:430px) {
    
}
@media only screen and (max-width:375px) {
  
}
@media only screen and (max-width:320px) {
    .landing_box_highlight_download{
        padding: .5rem .9rem .3rem 0rem;
        margin: 3rem .5rem 4rem!important;
    }
    .management_list{
        padding: .5rem 0 0 .5em!important;
    }
    .academic_img {
        width:3rem;
    }
    
}
/* media queries */