/* common */
.sec_pad {
    padding: 2rem 0rem;
}

.sec_heading {
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
}

.underline {
    border: 2px solid #FCCB67;
    width: 4rem;
    margin-bottom: 2rem;
}

.sec_text {
    font-family: 'Open Sans', sans-serif;
}

.sec_color_bg {
    background-color: #FBFBFB;
}

.carousel .carousel-indicators li {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.shadow {
    box-shadow: 0px 8px 20px -4px rgba(0, 0, 0, 0.1);
}

/* common */
/* navbar */
.nav-content {
    color: #1D194F;
}

.navbar {
    box-shadow: 0px 0px 0px 0px !important;
}

.mynav {
    background-color: #ffffff;
}

.d-button {
    border: 0;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.navbar-element {
    font-family: 'Open Sans', sans-serif;
}

.d-button:focus {
    outline: none;
}

/* life-akgec-nav-menu */
.life-akg {
    list-style: none;
    padding: 0;
    z-index: 200;
}

.life-akg li {
    display: block;
    position: relative;
    float: left;
}

.life-akg li ul {
    display: none;
}

.life-akg li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 10px;
}

.life-akg li a:hover {
    background: #2c3e50;
    text-decoration: none;
    color: #1D194F;
}

.life-akg li:hover>ul {
    display: block;
    position: absolute;
}

.life-akg li:hover li {
    float: none;
}

.life-akg li:hover a {
    background-color: #FBFBFB;
}

.life-akg li:hover li a:hover {
    background: #FFF;
}

.life-akg li ul {
    right: 100%;
    top: 0;
}

.life-akg:before,
.life-akg:after {
    content: " ";
    display: table;
}

.life-akg:after {
    clear: both;
}

/* life-akgec-nav-menu */

/* hamburger */
.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: #0A38F5;
}

.dark-pink-text {
    color: #AC003A;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}

/* hamburger */

/* navbar */

/* overview */
.pd {
    padding: 0 2rem !important;
}

.vission-pd {
    padding: 0 6rem !important;
}

.overview-img {
    padding-right: 2rem !important;
}

.overview-text {
    padding-left: 5rem!important;
}

/* overview */

/* director */
.director-img {
    width: 400px;
}

/* .dir-img {
    padding: 0 4rem !important;
} */

.dir-head {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 900;
    font-size: 2.3rem;
}

.director-text {
    padding: 3rem .9rem 2rem 0rem;
    color: white;
}

.hod_desc {
    padding-top: 1rem;
}

/* director */

/* education,career,exp */
.abt-col-pad {
    padding: 0 2rem !important;
}

.abt-box {
    border: 2px solid #FCCB67;
    padding: .5rem;
    border-radius: 8px;
}

.abt-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
}

.abt-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 800 !important;
    font-size: 1.2rem;

}

.abt-text {
    font-family: 'Open Sans', sans-serif;
}

/* education,career,exp */

/* acceredation */
.acr-box {
    border-radius: 35px;
    padding: 2.2rem;

}

.height-box {
    height: 367px;
}

.height-box-1 {
    height: 340px;
    padding-top: 4rem;
}

.acr-head {
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 1.7rem;
}

.acr-margin {
    margin-top: 3rem;
}

.acr_contain {
    padding: 2rem !important;
}

.acr-box-pad {
    padding: 1.5rem 6rem !important;
}
/* acceredation */

/* management */
.manage-head {
    padding: 0 0 0 2.5rem !important;
}

.manage-illus-contain {
    padding: 0 5rem !important;
}

.manage-gov-contain {
    padding: 0 2rem !important;
}

.manage-gov-box {
    border: 1px solid #FCCB67;
    border-radius: 5px;
    margin: 3rem 1rem 0 !important;
    padding: 1rem 0;


}

.manage-names-contain {
    margin-bottom: 3rem;
}

.medium-screen {
    display: none;
}

.manage-text-pad {
    padding: 3rem 1rem 3rem 2rem !important;
}

.manage_heading {
    font-family: 'Raleway', sans-serif;
    color: #1D194F;
    font-weight: 800;
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    margin-right: 5rem;
    cursor: pointer;
}



/* management */

/* imp func */
.sec_pad_tp {
    padding: 8rem 0 4rem 0;
}

.func_cards_container {
    padding: 0rem 3rem 1rem 1rem !important;
}

.faculty_box {
    background-color: #fff;
    box-shadow: 0px 8px 20px -4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.head_desc {
    padding: 0 !important;
}


.head_str {
    font-weight: 800;
    color: #FDD329;
}

.faculty_head_name {
    font-weight: 800;
}

.head_image_container {
    text-align: right;
    padding: 0 8px !important;
}

.head_img {
    border-radius: 5px;
}

/* imp func */

/* footer */
.footer-row1 {
    padding: 2rem 5rem 0rem !important;
    margin: 5rem 0 0 !important;

}

.footer-stayintouch {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* footer */

/* footer-media queries */


@media only screen and (max-width:1024px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {


    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }


}

/* footer media queries */


/* media queries */
@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1024px) {
    .acr_contain {
        padding: 0 2rem !important;
    }

    .acr-box-pad {
        padding: 1rem 1.5rem !important;
    }

    .acr-box {
        border-radius: 30px;
        padding: 1.3rem 1.9rem;

    }

    .height-box-1 {
        padding-top: 2.7rem;
    }


    /* overview */
    .pd {
        padding: 0 2rem !important;
    }

    .vission-pd {
        padding: 0 3rem !important;
    }
    .overview-text {
        padding-left: 3rem!important;
    }

    

    /* overview */
    /* director */
    .dir-img {
        padding: 0 !important;
    }

    .hod_desc {
        padding-top: 0rem;
    }

    /* management */
    .manage-head {
        padding: 0 0 0 3rem !important;
    }

    .manage-gov-contain {
        padding: 0 2rem !important;
    }

    .manage-gov-box {
        margin: 3rem 0rem 0 !important;
    }

    .manage-illus-contain {
        padding: 0 2rem !important;
    }

    .manage-head {
        padding: 0 !important;
    }

    /* management */

    /* functionaries */
    .head_desc_single {
        padding: 0 .5rem !important;
    }

    .faculty_box {
        padding: .5rem 1.5rem;
    }

    .func_cards_container {
        padding: 0 2rem 1rem !important;
    }

    /* footer */
    .footer-row1 {
        padding: 2rem 2rem 0rem !important;
    }
}

@media only screen and (max-width:768px) {

    /* education,career,exp */
    .abt-col-pad {
        padding: 0 6rem !important;
        margin-bottom: 2rem;
    }

    .career-text {
        padding: 0rem !important;
    }

    .career-img {
        text-align: center !important;
    }

    /* education,career,exp */

    /* accredation */
    .height-box {
        height: auto;
    }

    .acr-box {
        margin-bottom: 3rem;
    }

    .acr-margin {
        margin-top: 0;
    }

    /* accredation */

    /* overview */
    .overview-img {
        padding: 0rem 1rem 2rem !important;
    }

    .overview-text {
        padding-left: 1rem !important;
    }

    /* director */
    .director-img {
        width: 350px;

    }

    /* .dir-img{
        padding: 0 12rem!important;
    } */
    .dir-img {

        text-align: center !important;
    }

    /* management */
    .manage-gov-contain {
        padding: 0 2rem !important;
    }

    .manage-gov-box {
        margin: 3rem 0rem 0 !important;
    }

    .manage-illus-contain {
        padding: 0 2rem !important;
    }

    .medium-screen {
        display: block;
    }

    .large-screen {
        display: none;
    }

    .manage_heading {
        font-size: 1.5rem;
        margin-right: 3rem;
    }


    /* management */

    /* functionaries */
    .head_desc_single {
        padding: 0 !important;
    }

    .faculty_box {
        padding: 0.3rem;
    }

    .func_cards_container {
        padding: 0rem 2.5rem 1rem 2rem !important;
    }

    .faculty_head_name {
        font-size: 14px;
    }

    .faculty-no {
        font-size: 14px;
    }

    .head_str {
        font-size: 15px;
    }

    /* footer */
    .footer-row1 {
        padding: 2rem 1rem 0rem !important;
    }
}

@media only screen and (max-width:455px) {
    .sec_heading {
        font-size: 1.7rem;
    }

    .sec_text {
        font-size: 14px;
    }

    /* education,career,exp */
    .abt-col-pad {
        padding: 0 4rem !important;
    }

    .career-img {
        padding: 0rem 4rem !important;
    }

    .career-text {
        padding: 0 2rem 0 1rem !important;
    }

    /* education,career,exp */

    /* accredation */
    .acr-box {
        margin-bottom: 0rem;
    }

    .acr-img {
        padding-right: 14rem !important;
    }

    .acr-box {
        padding: 1rem;
    }

    /* director */
    .director-img {
        width: 250px;
        margin: 1rem 0 0 -1rem !important;
    }

    .dir-head {
        font-size: 1.7rem;
    }

    .dir-desig {
        font-size: 1.2rem !important;
    }

    .hod_desc {
        font-size: 14px;
    }


    /* management */
    .manage-head {
        margin: 0 !important;
        padding-left: 2rem !important;
    }

    .manage-text-pad {
        padding: 3rem 0rem 0rem 1rem !important;
    }

    .gov-council-img {
        padding: 1rem 2rem;

    }

    .gov-img {
        padding: 0 2rem;
    }

    .manage_heading {
        font-size: 1.3rem;
        margin-right: 0rem;
    }

    .manage-ul {
        padding-left: 0 !important;
    }

    /* management  */

    /* functionaries */
    .head_desc_single {
        padding: 0 .5rem !important;
    }

    .faculty_box {
        padding: 1.3rem;
    }

    .fac_head {
        padding: 1rem 0;
    }

    .func_cards_container {
        padding: 0rem 2rem 1rem !important;
    }

    .head_str {
        font-size: 16px;
    }

}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:375px) {

    /* education,career,exp */
    .abt-col-pad {
        padding: 0 2rem !important;
    }

   

    /* education,career,exp */

    .career-img {
        padding: 0rem 2rem !important;
    }

    .career-text {
        padding: 0 1rem 0 0rem !important;
    }

    /* education,career,exp */
    /* overview */
    .pd {
        padding: 0 1rem !important;
    }

    .vission-pd {
        padding: 0 2rem !important;
    }



    /* director */
    .director-img {
        width: 200px;
        margin: 1rem 0 0 -1rem !important;
    }

    .dir-head {
        font-size: 1.3rem;
    }

    .dir-desig {
        font-size: 1rem !important;
    }

    .hod_desc {
        font-size: 14px;
    }

    /* management */
    .manage-head {
        margin: 0 !important;
        padding-left: 1rem !important;
    }

    .manage-illus-contain {
        padding: 1rem !important;
    }

    .manage-text-pad {
        padding: 3rem 1rem 0rem 1rem !important;
    }

    .gov-council-img {
        padding: 1rem 1rem;
    }

    .gov-img {
        padding: 0 1rem;
    }

    .head {
        font-size: 1.3rem !important;
    }

    .manage_heading {
        font-size: 1.1rem;
        margin-right: 0rem;
    }

    /* management  */
    /* accredation */

    .acr-head {
        font-size: 21px;
    }

    .acr_contain {
        padding: 0 1rem !important;
    }
    
    .acr-img {
        padding-right: 13rem !important;
    }
    /* functionaries */
    .faculty_box {
        padding: .7rem;
    }
}

@media only screen and (max-width:320px) {

    /* functionaries */
    .head_image_container {
        padding: 0 !important;
    }

    /* footer */
    .footer-row1 {
        padding: 2rem 0rem 0rem !important;
    }

    /* accredation */
    .acr-img {
        padding-right: 10rem !important;
    }
     /* education,career,exp */
     .sec_heading {
        font-size: 1.5rem;
    }


}

/* media queries */

